@import '../../constants/constants.scss';

%colors {
   color: $color;
   background-color: $background-color;
}

@mixin title($translate, $color, $height, $transition) {
   transform: $translate;
   border-color: $color;
   height: $height;
   transition: $transition;
}

%title {
   box-sizing: border-box;
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 99.5%;
   height: 5px;
   border-bottom: 4px solid rgb(114, 13, 13);
   border-left: 4px solid rgb(114, 13, 13);
   border-radius: 25px;
}

.header {
   font-family: 'Courier New', Courier, monospace;
   display: flex;
   @extend %colors;
   width: 100%;
   height: 10vh;
   justify-content: center;
   align-items: center;

   h1 {
      position: relative;
      @extend %colors;
      margin: 1px;
      // TODO don`t use relative for padding
      padding: 0.625rem 1.25rem;
      text-transform: uppercase;
      // ?
      overflow: hidden;
      &:before {
         transform: translateY(100%);
         @extend %title;
      }
      &:after {
         transform: translateX(-100%);
         @extend %title;
      }
      &:hover {
         &:hover:before {
            @include title(
               translateY(0),
               $color,
               100%,
               (0.2s transform linear 0.7s, 0.1s width linear 0.1s)
            );
         }
         &:hover:after {
            @include title(
               translateY(0),
               $color,
               0%,
               (0.2s transform linear 0.7s, 0.1s width linear 0.1s)
            );
         }
      }
   }
}
